<h1>Hello World</h1>
<p>This is knowledge sharing session, Ruby on Rails !</p>
<%= button_to "Logout", session_path, method: :delete %>
<%= link_to 'Sign up', new_registration_path %>
<%= link_to 'Login', new_session_path %>